<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file: sport.properties -->
	<context:property-placeholder location ="classpath:sport.properties" />

	<!-- Define your beans here -->
	<bean id="uCoach" class="com.luv2code.springdemo.TrackCoach">
	</bean>
	<!-- 訊息太混亂暫時先註解掉 <bean id="myLoggerConfig" class="com.luv2code.springdemo.MyLoggerConfig" 
		init-method="initLogger"> <property name="rootLoggerLevel" value="FINE" /> 
		<property name="printedLoggerLevel" value="FINE" /> </bean> -->
	<!-- <bean id="myCoach1" class="com.luv2code.springdemo.BaseballCoach"> 
		<constructor-arg ref="myFortuneService" /> <constructor-arg ref="mySleepService" 
		/> </bean> -->
	<bean id="myCoach" class="com.luv2code.springdemo.BaseballCoach">
		<!-- set up constructor injection -->
		<constructor-arg ref="myFortuneService" />
	</bean>
	<bean id="myFortuneService"
		class="com.luv2code.springdemo.HappyFortuneService">
	</bean>
	<bean id="mySleepService"
		class="com.luv2code.springdemo.HappySleepService">
	</bean>
	<bean id="myCricketCoach"
		class="com.luv2code.springdemo.CricketCoach">
		<!-- set up setter injection -->
		<property name="fortuneService" ref="myFortuneService" />
		<!-- inject literal values -->
		<property name="emailAddress" value="${foo.email}" />
		<property name="team" value="${foo.team} " />
	</bean>

	<!-- practice activity 2 -->
	<bean id="myRealFortuneService"
		class="com.luv2code.springdemo.RealFortuneService">
		<property name="fortune" value="${foo.fortune}" />
	</bean>
	<bean id="mySoftballCoach"
		class="com.luv2code.springdemo.SoftballCoach"
		scope="prototype">
		<constructor-arg ref="myRealFortuneService" />
	</bean>

</beans>





